<style>
  .navbar-toggle-icon {
    width: 20px;
    height: 1px;
    background-color: #2d73f7;
    margin: 6px 0;
  }
  .logout-btn {
    background-color: transparent;
    border: 0ch;
    color: #0d6efd;
  }
  .logout-btn:hover {
    color: rgb(240, 159, 159);
  }
</style>
<!-- </head> -->
<body>
  <header>
    <nav class="navbar navbar-expand-lg pt-3 pb-3">
      <div class="container-fluid">
        <a class="navbar-brand" style="color: #2870f5" href="#">E-mart</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <div class="navbar-toggle-icon"></div>
          <div class="navbar-toggle-icon"></div>
          <div class="navbar-toggle-icon"></div>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a
                class="nav-link <%= path === '/index'?'active':'' %>"
                href="/shop"
                >Shop</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link <%= path === 'user/products'?'active':'' %>"
                href="/products"
                >Products</a
              >
            </li>
            <% if(logged){ %>
            <li class="nav-item">
              <a
                class="nav-link <%= path === 'user/cart'?'active':'' %>"
                href="/cart"
                >Cart</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link <%= path === 'user/orders'?'active':'' %>"
                href="/orders"
                >Orders</a
              >
            </li>
            <li class="nav-item">
              <a
                class="
                  nav-link
                  <%=
                  path
                  ===
                  '/admin/add-product'?'active':''
                  %>
                "
                href="/admin/add-product"
                >Add Product</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link <%= path === '/admin/products'?'active':'' %>"
                href="/admin/products"
                >Admin Product</a
              >
            </li>
            <% } %>
          </ul>
          <!-- This is added to the same navbar but towards the right -->
          <ul class="nav navbar-nav navbar-right">
            <% if(!logged){ %>
            <li class="nav-item">
              <a
                href="/login"
                class="<%= path === '/login'?'active':'' %> nav-link"
              >
                Login</a
              >
            </li>
            <li class="nav-item">
              <a
                href="/sign-up"
                class="<%= path === '/sign-up'?'active':'' %> nav-link"
              >
                Sign-up</a
              >
            </li>
            <% }else{ %>
            <li class="nav-item">
              <form action="/logout" method="post">
                <input type="hidden" name="_csrf" value="<%= token %>">
                <input
                  type="submit"
                  value="Logout"
                  class="logout-btn nav-link"
                />
              </form>
            </li>
            <% } %> 
          </ul>
        </div>
      </div>
    </nav>
  </header>
</body>
